/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Common */
body{
    height: 100vh;
    width: 100%;
    background-color: #2cec6c;
}
input[type="radio"]{
    display: none;
}
/* slider */
.slider{
    width: 100%;
    height: 100%;
}
.slider .slides{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
/* Slide */
.slider .slides .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    transition: all 0.5s ease-in;
}
.slider .slides .curr{
    opacity: 1;
}
/* Overlay */
.slider .slides .slide::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
}
/* Images */
.slides .slide img{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: scale(0.8);
    transition: all 0.5s ease-in;
}
.slides .curr img{
    transform: scale(1);
}
/* discription */
.slides slide .desc{
    position: absolute;
    max-width: 700px;
    max-width: 550px;
    top: -50%;
    left: 150px;
    transform: translateY(50%);
    z-index: 2;
    padding: 25px;
    transition: all 0.5s ease-in;
}
.slides .curr .desc{
    top: 50%;
    transform: translateY(-50%);
}